# dotfiles (https://github.com/neo64yt/dotfiles)
# Made by Neo64YT
# This file ignores my private files (including Brave config directory)

# Ignore browsers config
.config/BraveSoftware/
.config/chromium/

# Ignore apps config
.config/onlyoffice/
.local/share/onlyoffice/
.config/systemd/
