[Desktop Entry]
Name=Uninstall
Exec=env WINEPREFIX="/home/neo64yt/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/neo64yt/.wine/dosdevices/c:/users/neo64yt/Start\\ Menu/Programs/SURVEY_PROGRAM/Uninstall.lnk
Type=Application
StartupNotify=true
Path=/home/neo64yt/.wine/dosdevices/c:/Program Files (x86)/SURVEY_PROGRAM
Icon=407A_uninstall.0
StartupWMClass=uninstall.exe
