[Desktop Entry]
Icon=video-x-matroska
Name=2021-02-14 22-18-29.mkv
Type=Link
URL[$e]=file:$HOME/Videos/2021-02-14 22-18-29.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
