[Desktop Entry]
Icon=video-x-matroska
Name=2021-02-14 21-57-05.mkv
Type=Link
URL[$e]=file:$HOME/Videos/2021-02-14 21-57-05.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
