[Desktop Entry]
Icon=video-webm
Name=Among Us Trap Remix (Among Drip Theme Song Original)-grd-K33tOSM.webm
Type=Link
URL[$e]=file:$HOME/Music/Among Us Trap Remix (Among Drip Theme Song Original)-grd-K33tOSM.webm
X-KDE-LastOpenedWith=org.kde.kdenlive
