[Desktop Entry]
Icon=video-webm
Name=Nintendo Wii - Mii Channel Theme-po-0n1BKW2w.webm
Type=Link
URL[$e]=file:$HOME/Music/Nintendo Wii - Mii Channel Theme-po-0n1BKW2w.webm
X-KDE-LastOpenedWith=org.kde.kdenlive
