[Desktop Entry]
Type=Application
Version=1.0
Name=Kdenlive
Comment=Video editor
Exec=kdenlive-20.12.1-x86_64.appimage
Icon=kdenlive
Terminal=false
Categories=AudioVideo;
