[Desktop Entry]
Type=Application
Version=1.0
Name=OnlyOffice
Comment=Open source alternative to Microsoft Office
Exec=OnlyOffice-x86_64.AppImage
Icon=libreoffice
Terminal=false
Categories=Office;
