[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/lib/icecat/icecat %u
Name=IceCat
Comment=Custom definition for IceCat
