# !/bin/sh

# Autostart applications

# This file contains the WM-independent autostart applications
sh $AUTOSTART &

# WM-specific autostart applications
sxhkd -c $KEYBIND &
nitrogen --restore &
$stats &

## EOF ##
